*,
html,
body,
video {
  margin: 0;
  padding: 0;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}
#vPlayer {
  width: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
}
#playerContent {
  width: 100%;
  background: #000;
  display: block;
}
#playerControler {
  width: 100%;
  z-index: 2147483649;
  position: absolute;
  bottom: 2px;
  left: 0;
  padding: 4px 0;
  opacity: 1;
}
#playerControlerafter {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
#playerControler .playButtonWrap {
  width: 24px;
  height: 24px;
  border-radius: 14px;
  border: 2px #ccc solid;
  margin-left: 8px;
  float: left;
}
#playerControler .playButtonWrap .playButton {
  margin: 4px 0 0 8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 10px solid #ccc;
}
#playerControler .playButtonWrap .pauseButton {
  margin: 6px 0 0 8px;
  width: 5px;
  height: 12px;
  border-left: 2px #ccc solid;
  border-right: 2px #ccc solid;
  display: none;
}
#playerControler #vplayerTimeLine {
  color: #ccc;
  line-height: 30px;
  font-size: 12px;
  float: left;
  margin-left: 2%;
}
#playerControler .vPlayVolumeWrap {
  float: right;
  margin: 6px 10% 0 0;
  width: 25%;
}
#playerControler .vPlayVolumeWrap #volumeIcon {
  width: 0px;
  height: 0px;
  padding: 5px 3px;
  border-width: 5px 10px 5px 0px;
  border-color: transparent #ccc transparent transparent;
  border-style: solid;
/*喇叭效果*/
  -webkit-box-shadow: inset 15px 0 #666;
  -moz-box-shadow: inset 15px 0 #666;
  box-shadow: inset 15px 0 #666;
  float: left;
  display: inline-block;
}
#playerControler .vPlayVolumeWrap #vPlayVolume {
  width: 70%;
  height: 2px;
  background: #ccc;
  position: relative;
  float: left;
  margin: 10px 0 0 10px;
  display: inline-block;
}
#playerControler .vPlayVolumeWrap #vPlayVolume #dragBar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #369;
  position: absolute;
  top: -3px;
  left: 0;
  cursor: pointer;
}
#playerControler .vPlayVolumeWrap #vPlayVolume #dragMask {
  position: absolute;
  left: 0;
  top: 0;
  background: #369;
  width: 0;
  height: 2px;
}
#playerControler #fullScreen {
  width: 24px;
  height: 24px;
  float: right;
  margin: 5px 2% 0 0;
  display: block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA/UlEQVRIS91V2w3CMAy8qP0HNoAJoOrtQ9mgI8AEiAlgBAZxJEaADWCBGqUqUktbkSAVAfmMH+ezk7PBwMcMnB+fB7DW5kVRLI0xixq7K8lJna2IXAGMandnVT3GcbxJksTZytNg4JKr6rajbTeS4xcAD/OOZN4JICInAHNjzCpN00PIfGrFnUnO+gDUGUi+NRsRacU3EnU5hLD4CoBy+s8D9WVRvaxG/Fu99gVsPdOQQF/fP2NQDUmfZcG3HV3x//cPBpeKUuwA5CR3vr13ftbaTFX3AC4kp6Fy7bMPXst1VYnbCVnF5BHksw8uAI5RFK17F05IS3x9f/8n3wFQDZcZDw/gGQAAAABJRU5ErkJggg==") no-repeat center;
}
#vPlayerError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.3);
  color: #fff;
  display: block;
  text-align: center;
  padding: 5px 8px;
  border-radius: 4px;
  display: none;
}
#progressBar {
  width: 100%;
  background: #333;
  height: 2px;
  position: absolute;
  bottom: 0;
  display: block;
}
#progressBar .reloadProgress {
  width: 0;
  height: 2px;
  background: #ccc;
  position: relative;
  left: 0;
  top: 0;
  z-index: 999;
}
#progressBar .reloadProgress .progress {
  width: 0;
  height: 2px;
  background: #008b8b;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
}
#progressBar .fadeIn {
  animation-name: fadeIn;
}
#progressBar .fadeOut {
  animation-name: fadeOut;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
